.App {
  text-align: center;
}

.chart-container{
  width: 100%;
  height: 500px;
  position: relative;
  border:1px solid gray;
  border-radius: 20px;
  background-color: #FFFAE4;
}

.bar{
  
  position: absolute;
  height: 25px;
  border-radius: 40px;
  bottom: 250px;
  z-index: 99999;
  background-size: cover;

}

.bar:hover{
  border: 1px black solid;
}

.label {
  color: black;
  position: absolute;
  top: -15px;
  left: -5px;
  width: 100%;
  text-align: center;
}

.chart-divider{
  position: absolute;
  top: 235px;
  width: 100%;
  height: 1px;
  background-color: black;
  border: 1px solid black;
}

.testZero {
  position: relative;
  right: 600px;
  color:#FFFAE4;
  font-size: 20px;
}

.city-details{
  position: relative;
  padding-top: 100px;
  text-align: left;
  left: 100px;
  color:#444;
}

.header{
  position: absolute;
  width: 100%;
  height: 90px;
  text-align: center;
  color:#FFFAE4;
  background-color: #26393D;
}

.search{
  position: relative;
  text-align: center;
  
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container{
  background-color: #F7E967;
}
.mainicon{
width:100px;
height:100px;
}

.detail-weather{
 position: absolute;
  text-align: right;
  right: 200px;
  top:125px;
  color:#444; 
  font-size: 17px;
}